<footer class="bg-light">
    <div class="container border-bottom">
        <div class="row pt-5">
          <div class="col-sm-4 col-lg-3 col-md-6 mb-4 mb-lg-0"><a class="navbar-brand text-uppercase font-weight-bold" href="{{ site.baseurl }}"><i class='uil uil-user'></i> flavien-hugs</a>
            <ul class="list-unstyled text-muted">
              <li><a class="reset-anchor text-small" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              <li><a class="reset-anchor text-small" href="tel:{{ site.tel }}">{{ site.tel }}</a></li>
            </ul>
            <ul class="list-inline text-muted">
              <li class="list-inline-item"><a class="reset-anchor" href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
        
        <div class="col-sm-4 col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h4>Liens utiles</h4>
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-1"><a class="text-small reset-anchor" href="{{ site.baseurl }}/a-propos/">Qui sommes-nous ?</a></li>
              <li class="mb-1"><a class="text-small reset-anchor" href="{{ site.baseurl }}/faq/">
                F.A.Q
              </a></li>
              <li class="mb-1">
            </ul>
          </div>
          <div class="col-sm-4 col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h4>Nous rejoindre ?</h4>
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-1"><a class="text-small reset-anchor" href="#">Vous souhaitez rejoindre notre équipe ?</a></li>
              <li class="mb-1"><a class="text-small reset-anchor" href="#">Support</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h4>Policy</h4>
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-1"><a class="text-small reset-anchor" href="#">
                Politique de confidentialité
              </a></li>
              <li class="mb-1"><a class="text-small reset-anchor" href="#">Conditions d'utilisation</a></li>
            </ul>
          </div>
        </div>
    </div>
    
    <div class="container py-4">           
        <div class="row text-center">
            <div class="col-lg-6 p-lg-0 text-lg-left">
                <p class="text-muted text-small mb-0">
                    &copy; <script> document.write(new Date().getFullYear()); </script> Tous droits réservés.</p>
            </div>

            <div class="col-lg-6 p-lg-0 text-lg-right">
                <p class="text-muted text-small mb-0"><a class="text-primary reset-anchor" href="https://github.com/{{ site.github_username }}" target="_blank">{{ site.github_username }}</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="{{'/assets/vendor/js/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/js/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/js/owl.carousel.min.js' | prepend: site.baseurl}}"></script><script src="{{'/assets/js/custom.js' | prepend: site.baseurl}}"></script>