<footer class="footer bg-light border-top py-4"> 
  <div class="container">           
    <div class="row text-center">
      <div class="col-lg-6 p-lg-0 text-lg-left">
        <p class="text-small">
          <span class="mb-0 font-weight-bold text-primary text-uppercase">{{ site.title }}</span>
          <ul class="list-unstyled font-weight-bold">
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><span>{{ site.tel }}</span></li>
          </ul>
      </div>

      <div class="col-lg-6 p-lg-0 text-lg-right">
        <p class="mb-0">
          <ul class="list-unstyled font-weight-bold">
            <li><a class="text-small" href="https://github.com/{{ site.twitter_username }}" target="_blank">{{ site.twitter_username }} (twitter)</a></li>

            <li><a class="text-small" href="https://github.com/{{ site.github_username }}" target="_blank">{{ site.github_username }} (github)</a></li>
          </ul>
        </p>

        <p class="text-muted text-small">&copy; <script> document.write(new Date().getFullYear()); </script> Tous droits réservés. &smid; <a class="text-primary text-uppercase" href="https://github.com/{{ site.github_username }}" target="_blank">unsta</p>
      </div>
    </div>
  </div>
</footer>

<script src="{{'/assets/vendor/js/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/js/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/js/owl.carousel.min.js' | prepend: site.baseurl}}"></script><script src="{{'/assets/js/custom.js' | prepend: site.baseurl}}"></script>